<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://webstatic.182375.xyz/Y2hjczEwMTMuY29t/static-resource/@apex/style/base.css">
    <script type="module" crossorigin="anonymous" src="https://webstatic.182375.xyz/Y2hjczEwMTMuY29t/static-resource/@apex/script/base.js"></script>
  </head>
  <body>
    {{ content | safe }}
    <script type="module" crossorigin="anonymous" src="https://webstatic.182375.xyz/Y2hjczEwMTMuY29t/static-resource/@apex/script/main.js"></script>
  </body>
</html>
